n8n-workflows/Randevu Onay ve Kayıt.json
{
  "name": "Randevu Onay ve Kayıt",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "c4b7997f-5c9c-43b6-9e73-47d1748fc255",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "a652cb6e-f399-47be-9e64-b64fe7261acd",
      "name": "Webhook",
      "webhookId": "c4b7997f-5c9c-43b6-9e73-47d1748fc255"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "13ay5SxQtzIDHzJKoqs8isJJZBj7F0RRQ9hg0ZgcynEc",
          "mode": "list",
          "cachedResultName": "Randevular",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13ay5SxQtzIDHzJKoqs8isJJZBj7F0RRQ9hg0ZgcynEc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13ay5SxQtzIDHzJKoqs8isJJZBj7F0RRQ9hg0ZgcynEc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Telefon": "={{ $json.body.telefon }}",
            "Hizmet": "={{ $json.body.hizmet }}",
            "Tarih": "={{ $json.body.tarih }}",
            "Ad": "={{ $json.body.ad }}",
            "Email": "={{ $json.body.email }}",
            "Saat": "={{ $json.body.saat }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Ad",
              "displayName": "Ad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Telefon",
              "displayName": "Telefon",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Hizmet",
              "displayName": "Hizmet",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tarih",
              "displayName": "Tarih",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Saat",
              "displayName": "Saat",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "335fbe99-8fcd-4752-98eb-b0514e0b4dce",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "68uMpMGgRgVQ6p3G",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Email }}",
        "subject": "Randevunuz Onaylandı! ✅",
        "message": "=Merhaba {{ $json.Ad }},  Randevunuz başarıyla alındı!  💆 Hizmet: {{ $json.Hizmet }} 📅 Tarih: {{ $json.Tarih }} 🕐 Saat: {{ $json.Saat }}  Görüşmek üzere! Güzellik Stüdyo Ekibi",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        416,
        0
      ],
      "id": "226a4e89-396b-43e0-ac10-9c974d97c6f6",
      "name": "Send a message",
      "webhookId": "7f4ab603-6395-4b26-8fb0-f2a68e3c29e8",
      "credentials": {
        "gmailOAuth2": {
          "id": "sqbUYvoPpWDsjj4h",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "fd9e3093-3902-467e-beca-b8070b4571c4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ca43b9689887f96215f757040f6499c5fbeffeb68c2e9144726f645810e6c720"
  },
  "id": "pGFHVS0gLwmZYhYb",
  "tags": []
}