n8n-workflows/Randevu Hatırlatma.json
{
  "name": "Randevu Hatırlatma",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "26e66b5e-4323-4615-92d2-7496f8eebfc9",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "13ay5SxQtzIDHzJKoqs8isJJZBj7F0RRQ9hg0ZgcynEc",
          "mode": "list",
          "cachedResultName": "Randevular",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13ay5SxQtzIDHzJKoqs8isJJZBj7F0RRQ9hg0ZgcynEc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13ay5SxQtzIDHzJKoqs8isJJZBj7F0RRQ9hg0ZgcynEc/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "3bd5772d-1cc4-4355-a57b-3a3c2e356d30",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "68uMpMGgRgVQ6p3G",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Email }}",
        "subject": "⏰ Yarınki Randevunuzu Unutmayın!",
        "message": "=Merhaba {{ $json.Ad }},  Yarın randevunuz var! 📅  💆 Hizmet: {{ $json.Hizmet }} 📅 Tarih: {{ $json.Tarih }} 🕐 Saat: {{ $json.Saat }}  Görüşmek üzere! Güzellik Stüdyo",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        624,
        0
      ],
      "id": "3854eb06-7c2a-4106-9600-349ae95332f7",
      "name": "Send a message",
      "webhookId": "351e03de-85f7-469a-9ef1-b0136ae518ed",
      "credentials": {
        "gmailOAuth2": {
          "id": "sqbUYvoPpWDsjj4h",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst tomorrow = new Date();\ntomorrow.setDate(tomorrow.getDate() + 1);\nconst year = tomorrow.getFullYear();\nconst month = String(tomorrow.getMonth() + 1).padStart(2, '0');\nconst day = String(tomorrow.getDate()).padStart(2, '0');\nconst tomorrowStr = year + '-' + month + '-' + day;\n\nconst matches = items.filter(item => {\n  return item.json.Tarih === tomorrowStr;\n});\n\nreturn matches;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "0a920121-c3c1-44ee-9df1-e72df30d1b08",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "5fa8cba6-e30b-4029-967a-5de0fb838ad4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ca43b9689887f96215f757040f6499c5fbeffeb68c2e9144726f645810e6c720"
  },
  "id": "pk8FwZavfNlWGt09",
  "tags": []
}